{% extends "base.html" %}

{% block title %}
    My Tasks
{% endblock title %}
{% block content %}
    <main>
        <div class="my-tasks-list">
            <h1>My Tasks:</h1>
            <a href="{% url "create_task" %}">•Create a New Task</a>
            {% if my_tasks|length == 0 %}
                <p>You have no tasks</p>
            {% else %}
                <table>
                    <th>Name</th>
                    <th>Start date</th>
                    <th>Due date</th>
                    <th>Is completed</th>
                    {% for task in my_tasks %}
                        <tr>
                            <td>
                                <a href="{% url "show_notes" task.id %}">{{ task.name }}</a>
                            </td>
                            <td>{{ task.start_date }}</td>
                            <td>{{ task.due_date }}</td>
                            <td>{{ task.iscompleted|yesno }}</td>
                        </tr>
                    {% endfor %}
                </table>
            {% endif %}
        </div>
    </main>
{% endblock content %}
