{% extends "base.html" %}

{% block title %}
    Task Notes
{% endblock title %}
{% block content %}
    <main>
        <div class="my-tasks-list">
            <h1>Task Notes:</h1>
            {% if notes|length == 0 %}
                <p>No Notes</p>
            {% else %}
                <table>
                    <th>Name</th>
                    <th>Date Added</th>
                    <th>Author</th>
                    {% for note in notes %}
                        <tr>
                            <td>{{ note.note }}</td>
                            <td>{{ note.date_added }}</td>
                            <td>{{ note.assignee }}</td>
                        </tr>
                    {% endfor %}
                </table>
            {% endif %}
            <form class="my-tasks-list" method="post">
                <center>
                    {% csrf_token %}
                    <div class="form-group">
                        <label>New Note:</label>
                        <br>
                        {{ form.note }}
                    </div>
                    <button>Add Note</button>
                </center>
            </form>
        </div>
    </main>
{% endblock content %}
