{% extends "base.html" %}

{% block title %}
    My Projects
{% endblock title %}
{% block content %}
    <main>
        <div class="project-list">
            <h1>My Projects:</h1>
            <p>
                <a href="{% url "create_project" %}">•Create New Project</a>
            </p>
            {% if project_list|length == 0 %}
                <p>You are not assigned to any projects</p>
            {% else %}
                <table>
                    <th>Name</th>
                    <th>Number of tasks</th>
                    {% for project in project_list %}
                        <tr>
                            <td>
                                <a href="{% url "show_project" project.id %}">{{ project.name }}</a>
                            </td>
                        </a>
                        <td>{{ project.tasks.all|length }}</td>
                    </tr>
                {% endfor %}
            </table>
        {% endif %}
    </div>
</main>
{% endblock content %}
